<mat-card>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                <mat-panel-title class="primary-image">
                  <mat-card>Room Image<br><br><br><br><br><br></mat-card>
                </mat-panel-title>
              <mat-panel-description>
                  Hotel Name
            </mat-panel-description>
            <mat-panel-description>
              Hotel Location
            </mat-panel-description>
            <mat-panel-description>
              Price
            </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>Hotel Description</p>

            <mat-action-row>
              <button mat-button>Book</button>
            </mat-action-row>
          </mat-expansion-panel>
    </mat-accordion>
</mat-card>
