<mat-card>
    <mat-accordion *ngIf="rooms.length>0">
        <mat-expansion-panel *ngFor="let room of rooms">
            <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                <mat-panel-title class="primary-image">
                <img src="{{room.image}}" style="height: 200px; width: 200px;">
                </mat-panel-title>
              <mat-panel-description>
                  {{room.hotelName}}
            </mat-panel-description>
            <mat-panel-description>
              {{room.hotelLocation}}
            </mat-panel-description>
            <mat-panel-description>
              {{room.price}}
            </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <p>{{room.roomType}}</p>

            <mat-action-row>
              <button mat-button>Book</button>
            </mat-action-row>
          </mat-expansion-panel>
    </mat-accordion>
</mat-card>
