<div class="row main-box">
    <div class="col md-3">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Dates
                </mat-expansion-panel-header>
                <p>Dates will be entered here</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="routing-blocks col md-3">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        Hotel-Image
                    </div>
                    <div class="col">
                        Hotels
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="routing-blocks col md-3">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        Package-Image
                    </div>
                    <div class="col">
                        Packages
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="routing-blocks col md-3">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    Adventures-Image
                </div>
                <div class="col">
                    Adventures
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    </div>
</div>