<div class="row main-box">
    <div class="routing-blocks col md-3">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <img class="img-responsive" src="../../assets/images/hotel.jpeg" style="width:100px;height: 50px;">
                    </div>
                    <div class="col">
                        Hotels
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="routing-blocks col md-3">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <img class="img-responsive" src="../../assets/images/packages.jpg" style="width:100px;height: 50px;">
                    </div>
                    <div class="col">
                        Packages
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="routing-blocks col md-3">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <img class="img-responsive" src="../../assets/images/adventure.jpg" style="width:100px;height: 50px;">
                </div>
                <div class="col">
                    Adventures
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    </div>
</div>